{
  "openapi": "3.1.1",
  "info": {
    "title": "Henrri API v1.0",
    "description": "# API Henrri Quickstart\r\n\r\nSimplified guide for integrating Henrri invoicing services.\r\n\r\n## 1. Authentification\r\n`TTL: 600s` Refresh your token every 10 minutes.\r\n\r\n> **POST** https://api-sandbox.henrri.io/v1/users/authenticate\r\n```bash\r\ncurl -X POST https://api-sandbox.henrri.io/v1/users/authenticate \\\r\n  -H \"Content-Type: application/json\" \\\r\n  -d '{\r\n    \"clientId\": \"YOUR_ID\",\r\n    \"clientSecret\": \"YOUR_SECRET\"\r\n  }'\r\n```\r\nSuccess Response:\r\n\r\n```bash\r\n{\r\n    \"access_token\": \"eyJhbGci...\",\r\n    \"expires_in\": 600,\r\n    \"token_type\": \"Bearer\",\r\n    \"refresh_token\": \"C5B217...\",\r\n    \"scope\": \"Document_Read ...\"\r\n}\r\n```\r\n\r\n## 2. Connectivity Test (Hello World)\r\nUse this endpoint to verify your credentials and token.\r\n\r\n> **GET** https://api-sandbox.henrri.io/v1/secures/hello-world\r\n```bash\r\ncurl -X GET https://api-sandbox.henrri.io/v1/secures/hello-world \\\r\n  -H \"Authorization: Bearer YOUR_ACCESS_TOKEN\"\r\n```\r\n\r\nExpected Response:\r\n\r\n```bash\r\n{\r\n  \"success\": true,\r\n  \"message\": \"Test de connectivité réussi\",\r\n  \"data\": \"Hello World\"\r\n}\r\n```\r\n\r\n## 3. Retrieve your User and Company information\r\nUse this endpoint to get user and company information.\r\n\r\n> **GET** https://api-sandbox.henrri.io/v1/users/me\r\n```bash\r\ncurl -X GET https://api-sandbox.henrri.io/v1/users/me \\\r\n  -H \"Authorization: Bearer YOUR_ACCESS_TOKEN\"\r\n```\r\n\r\nSuccess Response:\r\n\r\n```bash\r\n{\r\n    \"user\": {\r\n        \"id\": 11740,\r\n        \"email\": \"...\",\r\n        \"firstName\": \"...\",\r\n        \"lastName\": \"...\",\r\n        \"urlImage\": \"...\",\r\n        ...\r\n        \"address\": {\r\n            \"id\": 10610,\r\n            \"address\": \"...\",\r\n            \"city\": \"...\",\r\n            \"postCode\": \"...\",\r\n            \"country\": \"\",\r\n        }\r\n    },\r\n    \"company\": {\r\n        \"id\": 1,\r\n        \"name\": \"...\",\r\n        \"logoUrl\": \"...\",\r\n        ...\r\n        \"address\": {\r\n            \"id\": 2014,\r\n            \"address\": \"...\",\r\n            \"city\": \"...\",\r\n            \"postCode\": \"...\",\r\n            \"country\": \"\",\r\n.        }\r\n    }\r\n}\r\n```\r\n\r\n## 4. API Access\r\n| Environnement    | URL                              |\r\n| :--------------- | :------------------------------- |\r\n| ** Production ** | https://api.henrri.io            |\r\n| ** Staging    ** | https://api-sandbox.henrri.io    |",
    "contact": {
      "name": "API Team",
      "url": "https://henrri.net",
      "email": "api@henrri.net"
    },
    "license": {
      "name": "Henrri - Copyright",
      "url": "https://www.henrri.com/conditions-generales-utilisation/"
    },
    "version": "v1.0"
  },
  "servers": [
    {
      "url": "https://api-sandbox.henrri.io/"
    }
  ],
  "paths": {
    "/v1/companies/{id}": {
      "get": {
        "tags": [
          "Companies"
        ],
        "summary": "Get the company with the given id",
        "description": "Get the company identified by its id\n\n🔒 **Requires Authorization (bearer token)**\n\n🛡️ **Policies (Scopes) :** `Company_Read`",
        "operationId": "Company.Get",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id of the company to retrieve",
            "required": true,
            "schema": {
              "maximum": 2147483647,
              "minimum": 1,
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json; X-Version=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/Company"
                }
              },
              "application/vnd.henrri.hateoas+json; X-Version=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/Company"
                }
              },
              "application/json": {}
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json; X-Version=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/vnd.henrri.hateoas+json; X-Version=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {}
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json; X-Version=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/vnd.henrri.hateoas+json; X-Version=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {}
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json; X-Version=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/vnd.henrri.hateoas+json; X-Version=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {}
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json; X-Version=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/vnd.henrri.hateoas+json; X-Version=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {}
            }
          }
        }
      }
    },
    "/v1/companies/{id}/address": {
      "get": {
        "tags": [
          "Companies"
        ],
        "summary": "Get the company's address with the given id",
        "description": "Get address of the company identified by its id\n\n🔒 **Requires Authorization (bearer token)**\n\n🛡️ **Policies (Scopes) :** `Company_Read`",
        "operationId": "Company.GetAddress",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id of the company to retrieve",
            "required": true,
            "schema": {
              "maximum": 2147483647,
              "minimum": 1,
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json; X-Version=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/Address"
                }
              },
              "application/vnd.henrri.hateoas+json; X-Version=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/Address"
                }
              },
              "application/json": {}
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json; X-Version=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/vnd.henrri.hateoas+json; X-Version=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {}
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json; X-Version=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/vnd.henrri.hateoas+json; X-Version=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {}
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json; X-Version=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/vnd.henrri.hateoas+json; X-Version=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {}
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json; X-Version=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/vnd.henrri.hateoas+json; X-Version=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {}
            }
          }
        }
      }
    },
    "/v1/customers": {
      "get": {
        "tags": [
          "Customers"
        ],
        "summary": "Get all the customers",
        "description": "Get all customers with pagination, sorting and searching capabilities.\r\n\r\n**Pagination:**\r\n- `page`:page index requested. Starts at 1.\r\n- `limit`:number of elements per pages query parameters. Default is 50, maximum is 100.\r\n\r\n**Searching:**\r\n- `search` : Search string to look for in customers\r\n\r\n**Filtering:**\r\n- `fromDate`/ `toDate`: Date range filtering on customers `creationDate`\r\n\r\n**Sorting:**\r\n- `sortBy`: Field to sort by\r\n  - id:customer `id`\r\n  - name:customer `name`\r\n  - date:customer `creationDate`\r\n- `sortOrder`: ascending or descending (default: desc)\r\n\r\n**Response:**\r\n- `elements` : list of customers for the current page\r\n- `meta.page`:current page index (one-based)\r\n- `meta.limit`:number of items per pages\r\n- `meta.totalCount`:total number of items\r\n- `meta.totalPages`:total number of pages\r\n- `meta.hasNext`:indicates if a next page is available\r\n\r\nReturns a paginated list of customers with their contacts.\n\n🔒 **Requires Authorization (bearer token)**\n\n🛡️ **Policies (Scopes) :** `Customer_Read`",
        "operationId": "Customer.GetAll",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "The page index requested (one-based index). Default value is 1.",
            "schema": {
              "maximum": 2147483647,
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of items within a page. Default is 50, max possible is 100.",
            "schema": {
              "maximum": 100,
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 50
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": "String to search.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sortBy",
            "in": "query",
            "description": "Field to sort by.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sortOrder",
            "in": "query",
            "description": "Sort order (ascending or descending). If not specified, no ordering is made.",
            "schema": {
              "$ref": "#/components/schemas/SortOrder"
            }
          },
          {
            "name": "minId",
            "in": "query",
            "description": "Get items greater than this id.",
            "schema": {
              "maximum": 2147483647,
              "minimum": 1,
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "fromDate",
            "in": "query",
            "description": "Get items after this date.",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "toDate",
            "in": "query",
            "description": "Get items before  this date.",
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json; X-Version=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/PagedListResponseOfCustomer"
                }
              },
              "application/vnd.henrri.hateoas+json; X-Version=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/PagedListResponseOfCustomer"
                }
              },
              "application/json": {}
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json; X-Version=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/vnd.henrri.hateoas+json; X-Version=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {}
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json; X-Version=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/vnd.henrri.hateoas+json; X-Version=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {}
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json; X-Version=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/vnd.henrri.hateoas+json; X-Version=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {}
            }
          }
        }
      },
      "post": {
        "tags": [
          "Customers"
        ],
        "summary": "Create a new customer",
        "description": "Create a new customer. The `contacts` field is required for all customer types.\r\n\r\n**Validation rules:**\r\n- The name, type and contacts fields are required\r\n- Type must be 'professional' or 'individual'\r\n- Professional customers must have between 1 and 4 contacts\r\n- Individual customers must have exactly 1 contact\r\n- Individual customers cannot have a SIRET/BCE number or corporate name extension\r\n- Contact last name is required, email must be valid if provided\r\n- If no primary contact is specified, the first contact will be marked as primary\r\n\r\n**Company identifier (SIRET / BCE):**\r\n- Use `companyIdentifierType` to specify the identifier format: `siret` or `bce`. Defaults to `siret` if omitted\r\n- SIRET (France): must be exactly 14 digits\r\n- BCE (Belgium): must be 10 digits starting with 0 or 1, with or without dots (e.g. 0123.456.789)\n\n🔒 **Requires Authorization (bearer token)**\n\n🛡️ **Policies (Scopes) :** `Customer_Write`",
        "operationId": "Customer.Add",
        "requestBody": {
          "description": "New customer with required contacts",
          "content": {
            "application/json; X-Version=1.0": {
              "schema": {
                "$ref": "#/components/schemas/Customer"
              }
            },
            "application/*+json; X-Version=1.0": {
              "schema": {
                "$ref": "#/components/schemas/Customer"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json; X-Version=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/Customer"
                }
              },
              "application/vnd.henrri.hateoas+json; X-Version=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/Customer"
                }
              },
              "application/json": {}
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json; X-Version=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/vnd.henrri.hateoas+json; X-Version=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {}
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json; X-Version=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/vnd.henrri.hateoas+json; X-Version=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {}
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json; X-Version=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/vnd.henrri.hateoas+json; X-Version=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {}
            }
          }
        }
      }
    },
    "/v1/customers/best-sales": {
      "get": {
        "tags": [
          "Customers"
        ],
        "summary": "Get best sales within a given year",
        "description": "Get the top 30 customers with the highest sales for a given year.\r\n\r\nReturns a list of customers ordered by their total sales amount.\n\n🔒 **Requires Authorization (bearer token)**\n\n🛡️ **Policies (Scopes) :** `Customer_Read`",
        "operationId": "Customer.GetBestSales",
        "parameters": [
          {
            "name": "year",
            "in": "query",
            "description": "Year concerned by best sales",
            "schema": {
              "maximum": 2100,
              "minimum": 2000,
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json; X-Version=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/PagedListResponseOfCustomer"
                }
              },
              "application/vnd.henrri.hateoas+json; X-Version=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/PagedListResponseOfCustomer"
                }
              },
              "application/json": {}
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json; X-Version=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/vnd.henrri.hateoas+json; X-Version=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {}
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json; X-Version=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/vnd.henrri.hateoas+json; X-Version=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {}
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json; X-Version=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/vnd.henrri.hateoas+json; X-Version=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {}
            }
          }
        }
      }
    },
    "/v1/customers/last-used": {
      "get": {
        "tags": [
          "Customers"
        ],
        "summary": "Get last used customers",
        "description": "Get the most recently used customers.\r\n\r\nReturns a list of customers that were recently accessed or modified.\n\n🔒 **Requires Authorization (bearer token)**\n\n🛡️ **Policies (Scopes) :** `Customer_Read`",
        "operationId": "Customer.GetLastUsed",
        "parameters": [
          {
            "name": "Types",
            "in": "query",
            "description": "**Required**.\r\n\r\nTypes of customers to retrieve.\r\n\r\nValid values :\r\n- `individual`\r\n- `professional`",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "Limit",
            "in": "query",
            "description": "*Optional*\r\n\r\nLimit the number of returned results. Default value is 30.",
            "schema": {
              "maximum": 30,
              "minimum": 1,
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json; X-Version=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/ListResponseOfCustomer"
                }
              },
              "application/vnd.henrri.hateoas+json; X-Version=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/ListResponseOfCustomer"
                }
              },
              "application/json": {}
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json; X-Version=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/vnd.henrri.hateoas+json; X-Version=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {}
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json; X-Version=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/vnd.henrri.hateoas+json; X-Version=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {}
            }
          }
        }
      }
    },
    "/v1/customers/with-selected-fields": {
      "get": {
        "tags": [
          "Customers"
        ],
        "summary": "Get all customers with selected fields",
        "description": "Get customers with dynamically selected display columns.\r\n\r\nReturns a paginated list of customers with customizable column display based on user preferences.\r\nSupports pagination, sorting, searching and optional totals calculation.\n\n🔒 **Requires Authorization (bearer token)**\n\n🛡️ **Policies (Scopes) :** `Customer_Read`",
        "operationId": "Customer.GetAllWithSelectedFields",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "The page index requested (one-based index). Default value is 1.",
            "schema": {
              "maximum": 2147483647,
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of items within a page. Default is 50, max possible is 100.",
            "schema": {
              "maximum": 100,
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 50
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": "String to search.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sortBy",
            "in": "query",
            "description": "Field to sort by.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sortOrder",
            "in": "query",
            "description": "Sort order (ascending or descending). If not specified, no ordering is made.",
            "schema": {
              "$ref": "#/components/schemas/SortOrder"
            }
          },
          {
            "name": "minId",
            "in": "query",
            "description": "Get items greater than this id.",
            "schema": {
              "maximum": 2147483647,
              "minimum": 1,
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "fromDate",
            "in": "query",
            "description": "Get items after this date.",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "toDate",
            "in": "query",
            "description": "Get items before  this date.",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "with_totals",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "only_current_page",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json; X-Version=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/PagedListResponseOfLineOfList"
                }
              },
              "application/vnd.henrri.hateoas+json; X-Version=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/PagedListResponseOfLineOfList"
                }
              },
              "application/json": {}
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json; X-Version=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/vnd.henrri.hateoas+json; X-Version=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {}
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json; X-Version=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/vnd.henrri.hateoas+json; X-Version=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {}
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json; X-Version=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/vnd.henrri.hateoas+json; X-Version=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {}
            }
          }
        }
      }
    },
    "/v1/customers/{id}": {
      "get": {
        "tags": [
          "Customers"
        ],
        "summary": "Get the customer identified by its id",
        "description": "Get a single customer by its unique identifier.\r\n\r\nReturns the complete customer information including all properties.\r\n\r\nRetrievel is subject to business rules.\r\nIf an error occured, a detailed **BusinessError** object with a user-friendly message is returned. Business errors can be found in section Business Errors > Customer retrieval and manipulation.\r\n\n\n🔒 **Requires Authorization (bearer token)**\n\n🛡️ **Policies (Scopes) :** `Customer_Read`",
        "operationId": "Customer.Get",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "maximum": 2147483647,
              "minimum": 1,
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json; X-Version=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/Customer"
                }
              },
              "application/vnd.henrri.hateoas+json; X-Version=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/Customer"
                }
              },
              "application/json": {}
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json; X-Version=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/vnd.henrri.hateoas+json; X-Version=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {}
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json; X-Version=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/vnd.henrri.hateoas+json; X-Version=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {}
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json; X-Version=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/vnd.henrri.hateoas+json; X-Version=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {}
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json; X-Version=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/vnd.henrri.hateoas+json; X-Version=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {}
            }
          }
        }
      },
      "put": {
        "tags": [
          "Customers"
        ],
        "summary": "Update an existing customer",
        "description": "Update an existing customer's information.\r\n\r\nReplaces the customer data with the provided values.\r\n\r\n**Address:**\r\nThe `address` field must be a structured object — passing a plain string will result in a 400 error.\r\n```json\r\n{ \"address\": \"12 rue de la Paix\", \"city\": \"Paris\", \"postCode\": \"75001\", \"country\": \"France\" }\r\n```\r\nIf omitted, the existing address is preserved.\r\n\r\n**Contacts:**\r\nContacts cannot be modified via this endpoint. Use `PUT /v1/customers/{id}/contacts/{contactId}` to update contacts.\r\n\r\n**Company identifier (SIRET / BCE):**\r\n- Use `companyIdentifierType` to specify the identifier format: `siret` or `bce`. Defaults to `siret` if omitted\r\n- SIRET (France): must be exactly 14 digits\r\n- BCE (Belgium): must be 10 digits starting with 0 or 1, with or without dots (e.g. 0123.456.789)\r\n\r\nModification is subject to business validation rules.\r\nIf an error occured, a detailed **BusinessError** object with a user-friendly message is returned. Business errors can be found in section Business Errors > Customer retrieval and manipulation.\r\n\n\n🔒 **Requires Authorization (bearer token)**\n\n🛡️ **Policies (Scopes) :** `Customer_Write`",
        "operationId": "Customer.Modify",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "maximum": 2147483647,
              "minimum": 1,
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "description": "existing customer to modify",
          "content": {
            "application/json; X-Version=1.0": {
              "schema": {
                "$ref": "#/components/schemas/Customer"
              }
            },
            "application/*+json; X-Version=1.0": {
              "schema": {
                "$ref": "#/components/schemas/Customer"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json; X-Version=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/Customer"
                }
              },
              "application/vnd.henrri.hateoas+json; X-Version=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/Customer"
                }
              },
              "application/json": {}
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json; X-Version=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/vnd.henrri.hateoas+json; X-Version=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {}
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json; X-Version=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/vnd.henrri.hateoas+json; X-Version=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {}
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json; X-Version=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/vnd.henrri.hateoas+json; X-Version=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {}
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json; X-Version=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/vnd.henrri.hateoas+json; X-Version=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {}
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Customers"
        ],
        "summary": "Delete a customer with the given id",
        "description": "Delete a customer and all associated data.\r\n\r\nThis action is irreversible.\r\n\r\nDeletion is subject to business validation rules.\r\nIf an error occured, a detailed **BusinessError** object with a user-friendly message is returned. Business errors can be found in section Business Errors > Customer retrieval and manipulation.\r\n\n\n🔒 **Requires Authorization (bearer token)**\n\n🛡️ **Policies (Scopes) :** `Customer_Write`",
        "operationId": "Customer.Delete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "id of the customer to delete",
            "required": true,
            "schema": {
              "maximum": 2147483647,
              "minimum": 1,
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain; X-Version=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json; X-Version=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json; X-Version=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/vnd.henrri.hateoas+json; X-Version=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/xml; X-Version=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/xml; X-Version=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "text/plain; X-Version=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json; X-Version=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json; X-Version=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/vnd.henrri.hateoas+json; X-Version=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/xml; X-Version=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/xml; X-Version=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "text/plain; X-Version=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json; X-Version=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json; X-Version=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/vnd.henrri.hateoas+json; X-Version=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/xml; X-Version=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/xml; X-Version=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain; X-Version=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json; X-Version=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json; X-Version=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/vnd.henrri.hateoas+json; X-Version=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/xml; X-Version=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/xml; X-Version=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/customers/{id}/address": {
      "get": {
        "tags": [
          "Customers"
        ],
        "summary": "Get the customer's address identified by its id",
        "description": "Get the address information of a specific customer.\r\n\r\nReturns the customer's coordinates including street, city, postal code and country.\r\n\r\nRetrieval is subject to business rules.\r\nIf an error occured, a detailed **BusinessError** object with a user-friendly message is returned. Business errors can be found in section Business Errors > Customer retrieval and manipulation.\r\n\n\n🔒 **Requires Authorization (bearer token)**\n\n🛡️ **Policies (Scopes) :** `Customer_Read`",
        "operationId": "Customer.GetAddress",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "maximum": 2147483647,
              "minimum": 1,
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json; X-Version=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/Address"
                }
              },
              "application/vnd.henrri.hateoas+json; X-Version=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/Address"
                }
              },
              "application/json": {}
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json; X-Version=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/vnd.henrri.hateoas+json; X-Version=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {}
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json; X-Version=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/vnd.henrri.hateoas+json; X-Version=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {}
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json; X-Version=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/vnd.henrri.hateoas+json; X-Version=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {}
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json; X-Version=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/vnd.henrri.hateoas+json; X-Version=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {}
            }
          }
        }
      }
    },
    "/v1/customers/{id}/contacts": {
      "post": {
        "tags": [
          "Customers"
        ],
        "summary": "Add a contact to an existing customer",
        "description": "Add a new contact to an existing customer.\r\n\r\n**Validation rules:**\r\n- Individual customers cannot have more than 1 contact\r\n- Professional customers cannot have more than 4 contacts\r\n\r\nCreation is subject to business validation rules.\r\nIf an error occured, a detailed **BusinessError** object with a user-friendly message is returned. Business errors can be found in section Business Errors > Customer retrieval and manipulation.\r\n\n\n🔒 **Requires Authorization (bearer token)**\n\n🛡️ **Policies (Scopes) :** `Customer_Write`",
        "operationId": "Customer.AddContact",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "maximum": 2147483647,
              "minimum": 1,
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "description": "Contact to add to the customer",
          "content": {
            "application/json; X-Version=1.0": {
              "schema": {
                "$ref": "#/components/schemas/Contact"
              }
            },
            "application/*+json; X-Version=1.0": {
              "schema": {
                "$ref": "#/components/schemas/Contact"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json; X-Version=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/Contact"
                }
              },
              "application/vnd.henrri.hateoas+json; X-Version=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/Contact"
                }
              },
              "application/json": {}
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json; X-Version=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/vnd.henrri.hateoas+json; X-Version=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {}
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json; X-Version=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/vnd.henrri.hateoas+json; X-Version=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {}
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json; X-Version=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/vnd.henrri.hateoas+json; X-Version=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {}
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json; X-Version=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/vnd.henrri.hateoas+json; X-Version=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {}
            }
          }
        }
      },
      "get": {
        "tags": [
          "Customers"
        ],
        "summary": "Get all contacts of a customer",
        "description": "Get all contacts associated with a specific customer.\r\n\r\nReturns a list of all contacts for the customer.\r\n\r\nRetrieval is subject to business validation rules.\r\nIf an error occured, a detailed **BusinessError** object with a user-friendly message is returned. Business errors can be found in section Business Errors > Customer retrieval and manipulation.\r\n\n\n🔒 **Requires Authorization (bearer token)**\n\n🛡️ **Policies (Scopes) :** `Customer_Read`",
        "operationId": "Customer.GetContacts",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "maximum": 2147483647,
              "minimum": 1,
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json; X-Version=1.0": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Contact"
                  }
                }
              },
              "application/vnd.henrri.hateoas+json; X-Version=1.0": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Contact"
                  }
                }
              },
              "application/json": {}
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json; X-Version=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/vnd.henrri.hateoas+json; X-Version=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {}
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json; X-Version=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/vnd.henrri.hateoas+json; X-Version=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {}
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json; X-Version=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/vnd.henrri.hateoas+json; X-Version=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {}
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json; X-Version=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/vnd.henrri.hateoas+json; X-Version=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {}
            }
          }
        }
      }
    },
    "/v1/customers/{id}/contacts/{contactId}": {
      "get": {
        "tags": [
          "Customers"
        ],
        "summary": "Get a specific contact of a customer",
        "description": "Get a single contact by its identifier for a specific customer.\r\n\r\nReturns the complete contact information.\n\n🔒 **Requires Authorization (bearer token)**\n\n🛡️ **Policies (Scopes) :** `Customer_Read`",
        "operationId": "Customer.GetContact",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "maximum": 2147483647,
              "minimum": 1,
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "contactId",
            "in": "path",
            "required": true,
            "schema": {
              "maximum": 2147483647,
              "minimum": 1,
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json; X-Version=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/Contact"
                }
              },
              "application/vnd.henrri.hateoas+json; X-Version=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/Contact"
                }
              },
              "application/json": {}
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json; X-Version=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/vnd.henrri.hateoas+json; X-Version=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {}
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json; X-Version=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/vnd.henrri.hateoas+json; X-Version=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {}
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json; X-Version=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/vnd.henrri.hateoas+json; X-Version=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {}
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json; X-Version=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/vnd.henrri.hateoas+json; X-Version=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {}
            }
          }
        }
      },
      "put": {
        "tags": [
          "Customers"
        ],
        "summary": "Update a contact of a customer",
        "description": "Update an existing contact's information for a specific customer.\r\n\r\nReplaces the contact data with the provided values.\r\n\r\nModification is subject to business validation rules.\r\nIf an error occured, a detailed **BusinessError** object with a user-friendly message is returned. Business errors can be found in section Business Errors > Customer retrieval and manipulation.\r\n\n\n🔒 **Requires Authorization (bearer token)**\n\n🛡️ **Policies (Scopes) :** `Customer_Write`",
        "operationId": "Customer.ModifyContact",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "maximum": 2147483647,
              "minimum": 1,
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "contactId",
            "in": "path",
            "required": true,
            "schema": {
              "maximum": 2147483647,
              "minimum": 1,
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "description": "Contact to update",
          "content": {
            "application/json; X-Version=1.0": {
              "schema": {
                "$ref": "#/components/schemas/Contact"
              }
            },
            "application/*+json; X-Version=1.0": {
              "schema": {
                "$ref": "#/components/schemas/Contact"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json; X-Version=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/Contact"
                }
              },
              "application/vnd.henrri.hateoas+json; X-Version=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/Contact"
                }
              },
              "application/json": {}
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json; X-Version=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/vnd.henrri.hateoas+json; X-Version=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {}
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json; X-Version=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/vnd.henrri.hateoas+json; X-Version=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {}
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json; X-Version=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/vnd.henrri.hateoas+json; X-Version=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {}
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json; X-Version=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/vnd.henrri.hateoas+json; X-Version=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {}
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Customers"
        ],
        "summary": "Delete a contact of a customer",
        "description": "Delete a contact from a customer.\r\n\r\n**Validation rules:**\r\n- A customer must keep at least 1 contact\r\n\r\n\r\nDeletion is subject to business validation rules.\r\nIf an error occured, a detailed **BusinessError** object with a user-friendly message is returned. Business errors can be found in section Business Errors > Customer retrieval and manipulation.\r\n\n\n🔒 **Requires Authorization (bearer token)**\n\n🛡️ **Policies (Scopes) :** `Customer_Write`",
        "operationId": "Customer.DeleteContact",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "maximum": 2147483647,
              "minimum": 1,
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "contactId",
            "in": "path",
            "required": true,
            "schema": {
              "maximum": 2147483647,
              "minimum": 1,
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain; X-Version=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json; X-Version=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json; X-Version=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/vnd.henrri.hateoas+json; X-Version=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/xml; X-Version=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/xml; X-Version=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "text/plain; X-Version=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json; X-Version=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json; X-Version=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/vnd.henrri.hateoas+json; X-Version=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/xml; X-Version=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/xml; X-Version=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "text/plain; X-Version=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json; X-Version=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json; X-Version=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/vnd.henrri.hateoas+json; X-Version=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/xml; X-Version=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/xml; X-Version=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain; X-Version=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json; X-Version=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json; X-Version=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/vnd.henrri.hateoas+json; X-Version=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/xml; X-Version=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/xml; X-Version=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/documents/{documentId}/lines": {
      "get": {
        "tags": [
          "DocumentLines"
        ],
        "summary": "Get all the lines from a document",
        "description": "Get all the lines of the document using its id.\r\nYou can use query parameters to paginate the response or leave them empty to retrieve the full list at once.\r\n\r\nBy default lines are ordered by lineNumber.\r\nLines calculation are up to date when retrieved.\n\n🔒 **Requires Authorization (bearer token)**\n\n🛡️ **Policies (Scopes) :** `Document_Read`",
        "operationId": "Line.GetAll",
        "parameters": [
          {
            "name": "documentId",
            "in": "path",
            "required": true,
            "schema": {
              "maximum": 2147483647,
              "minimum": 1,
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "The page index requested (one-based index). Default value is 1.",
            "schema": {
              "maximum": 2147483647,
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of items within a page. Default is 50, max possible is 100.",
            "schema": {
              "maximum": 100,
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 50
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": "String to search.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sortBy",
            "in": "query",
            "description": "Field to sort by.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sortOrder",
            "in": "query",
            "description": "Sort order (ascending or descending). If not specified, no ordering is made.",
            "schema": {
              "$ref": "#/components/schemas/SortOrder"
            }
          },
          {
            "name": "minId",
            "in": "query",
            "description": "Get items greater than this id.",
            "schema": {
              "maximum": 2147483647,
              "minimum": 1,
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "fromDate",
            "in": "query",
            "description": "Get items after this date.",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "toDate",
            "in": "query",
            "description": "Get items before  this date.",
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json; X-Version=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/PagedListResponseOfDocumentLine"
                }
              },
              "application/vnd.henrri.hateoas+json; X-Version=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/PagedListResponseOfDocumentLine"
                }
              },
              "application/json": {}
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json; X-Version=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/vnd.henrri.hateoas+json; X-Version=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {}
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json; X-Version=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/vnd.henrri.hateoas+json; X-Version=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {}
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json; X-Version=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/vnd.henrri.hateoas+json; X-Version=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {}
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json; X-Version=1.0": {
                "schema": {
                  "type": "string"
                }
              },
              "application/vnd.henrri.hateoas+json; X-Version=1.0": {
                "schema": {
                  "type": "string"
                }
              },
              "application/json": {}
            }
          }
        }
      },
      "post": {
        "tags": [
          "DocumentLines"
        ],
        "summary": "Create a document line on an existing document",
        "description": "Create a document line.\r\nRequired fields:\r\n- `typeId` : type of line ; can be recovered with GET on /documentlinetypes\r\n\r\nTwo line creation scenario are possible.\r\n\r\n### Billable item line\r\n\r\nIf you wish to create a line representing a billable item, you must provide:\r\n- `typeId`\r\n- `itemId` or an `item` object:referencing a billable item\r\n\r\n### Text line\r\n\r\nIf you wish to add a text line, you must provide:\r\n- `typeId`\r\n- `description` : the text\r\n\r\n### Layout line\r\n\r\nIf you wish to add a layout line (horizontalTrait, lineBreak, total, subTotal), you must provide:\r\n- `typeId`\r\n\r\n---\r\n\r\nCreation is subject to business validation rules.\r\nIf an error occured, a detailed **BusinessError** object with a user-friendly message is returned. Business errors can be found in section Business Errors > Document line manipulation.\r\n\n\n🔒 **Requires Authorization (bearer token)**\n\n🛡️ **Policies (Scopes) :** `Document_Write`",
        "operationId": "Line.Add",
        "parameters": [
          {
            "name": "documentId",
            "in": "path",
            "required": true,
            "schema": {
              "maximum": 2147483647,
              "minimum": 1,
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "description": "Line to add to an existing document",
          "content": {
            "application/json; X-Version=1.0": {
              "schema": {
                "$ref": "#/components/schemas/DocumentLine"
              }
            },
            "application/*+json; X-Version=1.0": {
              "schema": {
                "$ref": "#/components/schemas/DocumentLine"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json; X-Version=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/DocumentLine"
                }
              },
              "application/vnd.henrri.hateoas+json; X-Version=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/DocumentLine"
                }
              },
              "application/json": {}
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json; X-Version=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/vnd.henrri.hateoas+json; X-Version=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {}
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json; X-Version=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/vnd.henrri.hateoas+json; X-Version=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {}
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json; X-Version=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/vnd.henrri.hateoas+json; X-Version=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {}
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json; X-Version=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/vnd.henrri.hateoas+json; X-Version=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {}
            }
          }
        }
      }
    },
    "/v1/documents/{documentId}/lines/{id}": {
      "get": {
        "tags": [
          "DocumentLines"
        ],
        "summary": "Get a specific line from a document",
        "description": "Get a specific line from a document using the document id and the line id.\r\nIf both ids does not match, the line will not be found.\n\n🔒 **Requires Authorization (bearer token)**\n\n🛡️ **Policies (Scopes) :** `Document_Read`",
        "operationId": "Line.Get",
        "parameters": [
          {
            "name": "documentId",
            "in": "path",
            "required": true,
            "schema": {
              "maximum": 2147483647,
              "minimum": 1,
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "maximum": 2147483647,
              "minimum": 1,
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json; X-Version=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/DocumentLine"
                }
              },
              "application/vnd.henrri.hateoas+json; X-Version=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/DocumentLine"
                }
              },
              "application/json": {}
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json; X-Version=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/vnd.henrri.hateoas+json; X-Version=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {}
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json; X-Version=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/vnd.henrri.hateoas+json; X-Version=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {}
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json; X-Version=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/vnd.henrri.hateoas+json; X-Version=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {}
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json; X-Version=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/vnd.henrri.hateoas+json; X-Version=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {}
            }
          }
        }
      },
      "put": {
        "tags": [
          "DocumentLines"
        ],
        "summary": "Modify a document line",
        "description": "Modify a document line\r\n> The entire resource will be replaced by the provided JSON.\r\n> Therefore, the same constraints as for a POST request apply (all required fields must be present).\r\n> Consider using the `PATCH` method if you wish to partially update the resource.\r\n\r\nA document line type cannot be changed. You must delete the line and create a new record.\r\n\r\nModification is subject to business validation rules.\r\nIf an error occured, a detailed **BusinessError** object with a user-friendly message is returned. Business errors can be found in section Business Errors > Document line manipulation.\r\n\n\n🔒 **Requires Authorization (bearer token)**\n\n🛡️ **Policies (Scopes) :** `Document_Write`",
        "operationId": "Line.Modify",
        "parameters": [
          {
            "name": "documentId",
            "in": "path",
            "required": true,
            "schema": {
              "maximum": 2147483647,
              "minimum": 1,
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "maximum": 2147483647,
              "minimum": 1,
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "description": "Document line to modify",
          "content": {
            "application/json; X-Version=1.0": {
              "schema": {
                "$ref": "#/components/schemas/DocumentLine"
              }
            },
            "application/*+json; X-Version=1.0": {
              "schema": {
                "$ref": "#/components/schemas/DocumentLine"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json; X-Version=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/DocumentLine"
                }
              },
              "application/vnd.henrri.hateoas+json; X-Version=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/DocumentLine"
                }
              },
              "application/json": {}
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json; X-Version=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/vnd.henrri.hateoas+json; X-Version=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {}
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json; X-Version=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/vnd.henrri.hateoas+json; X-Version=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {}
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json; X-Version=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/vnd.henrri.hateoas+json; X-Version=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {}
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json; X-Version=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/vnd.henrri.hateoas+json; X-Version=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {}
            }
          }
        }
      },
      "delete": {
        "tags": [
          "DocumentLines"
        ],
        "summary": "Delete a document line",
        "description": "Delete a document line\r\n\r\nDeletion is subject to business validation rules.\r\nIf an error occured, a detailed **BusinessError** object with a user-friendly message is returned. Business errors can be found in section Business Errors > Document line manipulation.\r\n\n\n🔒 **Requires Authorization (bearer token)**\n\n🛡️ **Policies (Scopes) :** `Document_Write`",
        "operationId": "Line.Delete",
        "parameters": [
          {
            "name": "documentId",
            "in": "path",
            "required": true,
            "schema": {
              "maximum": 2147483647,
              "minimum": 1,
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "maximum": 2147483647,
              "minimum": 1,
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain; X-Version=1.0": {
                "schema": {
                  "type": "string"
                }
              },
              "application/json; X-Version=1.0": {
                "schema": {
                  "type": "string"
                }
              },
              "text/json; X-Version=1.0": {
                "schema": {
                  "type": "string"
                }
              },
              "application/vnd.henrri.hateoas+json; X-Version=1.0": {
                "schema": {
                  "type": "string"
                }
              },
              "application/xml; X-Version=1.0": {
                "schema": {
                  "type": "string"
                }
              },
              "text/xml; X-Version=1.0": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "text/plain; X-Version=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json; X-Version=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json; X-Version=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/vnd.henrri.hateoas+json; X-Version=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/xml; X-Version=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/xml; X-Version=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "text/plain; X-Version=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json; X-Version=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json; X-Version=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/vnd.henrri.hateoas+json; X-Version=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/xml; X-Version=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/xml; X-Version=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain; X-Version=1.0": {
                "schema": {
                  "type": "string"
                }
              },
              "application/json; X-Version=1.0": {
                "schema": {
                  "type": "string"
                }
              },
              "text/json; X-Version=1.0": {
                "schema": {
                  "type": "string"
                }
              },
              "application/vnd.henrri.hateoas+json; X-Version=1.0": {
                "schema": {
                  "type": "string"
                }
              },
              "application/xml; X-Version=1.0": {
                "schema": {
                  "type": "string"
                }
              },
              "text/xml; X-Version=1.0": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "default": {
            "description": "",
            "content": {
              "text/plain; X-Version=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json; X-Version=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json; X-Version=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/vnd.henrri.hateoas+json; X-Version=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/xml; X-Version=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/xml; X-Version=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/documents/{documentId}/lines/{id}/move": {
      "post": {
        "tags": [
          "DocumentLines"
        ],
        "summary": "Move the line position in a document",
        "description": "Reorder a line within a document.\r\nThe index positon of a line is one-based, 1 is the first position available.\r\nIf a position geater than the total number of lines in the document is provided, the line will be pushed at the last position.\r\n\r\nThe list returned contains all document lines, ordered by LineNumber and up to date with calculation.\r\n\r\nMove is subject to business validation rules.\r\nIf an error occured, a detailed **BusinessError** object with a user-friendly message is returned. Business errors can be found in section Business Errors > Document line manipulation.\r\n\n\n🔒 **Requires Authorization (bearer token)**\n\n🛡️ **Policies (Scopes) :** `Document_Write`",
        "operationId": "Line.Move",
        "parameters": [
          {
            "name": "documentId",
            "in": "path",
            "required": true,
            "schema": {
              "maximum": 2147483647,
              "minimum": 1,
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "maximum": 2147483647,
              "minimum": 1,
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "description": "Line to move inside a document",
          "content": {
            "application/json; X-Version=1.0": {
              "schema": {
                "$ref": "#/components/schemas/DocumentLineMoveQueryParameters"
              }
            },
            "application/*+json; X-Version=1.0": {
              "schema": {
                "$ref": "#/components/schemas/DocumentLineMoveQueryParameters"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json; X-Version=1.0": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DocumentLine"
                  }
                }
              },
              "application/vnd.henrri.hateoas+json; X-Version=1.0": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DocumentLine"
                  }
                }
              },
              "application/json": {}
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json; X-Version=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/vnd.henrri.hateoas+json; X-Version=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {}
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json; X-Version=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/vnd.henrri.hateoas+json; X-Version=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {}
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json; X-Version=1.0": {
                "schema": {
[...]
